* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: black;

}

i {
  font-size: 16px
}

/* utility */

/* 1. center */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 2. button */

.btn {
  height: 40px;
  width: 100px;
  margin-right: 20px;
  background-color: rgb(35, 35, 33);
  border-radius: 5px;
}

.profile {
  border-radius: 80%;
  width: 40px;
  height: 40px;
  border: 1px solid #ecfd01;
}

.profile i {
  font-size: 16px
}




/* body */

.nav-container {
  background-color: #121212;
  height: 70px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;

}

#imbd-logo {
  height: 40px;
  border-radius: 10px;
  margin-right: 20px;
}




.btn .menu-btn {
  height: 100%;
  width: 100%;
  font-weight: 700;
  background: transparent;
  color: #fff;
  border: 0;
  
}

.search-container-btn, #search-box {
  /* border: 1px solid #fff; */
  height: 40px;
  width: 500px;
  text-align: start;
  border-radius: 5px;
  border: 0;

}

.search-btn {
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin-left: -50px;
  padding: 0px 20px;
}

#search-box {
  padding-left: 10px;
}

